#imgHomepage{
   background-image: url(../../../../assets/images/image-homepage/Escolher-gps-para-carro.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}