<div class="row row-cols-1 row-cols-md-3 g-4">
   
    <div class="col">
      <div class="card">
        <img src="../../../assets/images/bg/hydro-brand-center6643.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gol G5</h5>
          <h6 class="card-subtitle mb-2" style="color: black;">JIR0888</h6>
          <p class="card-text">Clique no botão a baixo para realizar alteração no veículo desejado!</p>
          <div class="row" style="display: flex; justify-content: center;">
           <button class="btn btn-primary">Editar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="../../../assets/images/bg/hydro-brand-center6643.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Honda Civic</h5>
            <h6 class="card-subtitle mb-2" style="color: black;">RIJ8800</h6>
            <p class="card-text">Clique no botão a baixo para realizar alteração no veículo desejado!</p>
            <div class="row" style="display: flex; justify-content: center;">
             <button class="btn btn-primary">Editar</button>
            </div>
        </div>
        </div>
      </div>

      
    <div class="col">
        <div class="card">
          <img src="../../../assets/images/bg/hydro-brand-center6643.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SANDERO</h5>
            <h6 class="card-subtitle mb-2" style="color: black;">PNL1580</h6>
            <p class="card-text">Clique no botão a baixo para realizar alteração no veículo desejado!</p>
           <div class="row" style="display: flex; justify-content: center;">
            <button class="btn btn-primary">Editar</button>
           </div>
          </div>
        </div>   
    </div>
    
    