<div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title">Veiculos cadastrados</h4>
                <!-- <h5 class="card-subtitle">Overview of the projects</h5> -->
            
        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Veiculo</th>
                        <th class="text-dark font-medium fs-4">Placa</th>
                        <th class="text-dark font-medium fs-4">COR</th>
                        <th class="text-dark font-medium fs-4">Em circulação?</th>
                        <th class="text-dark font-medium fs-4">Data cadastro</th>
                        <th class="text-dark font-medium fs-4">Ano veiculo</th>
                        <th class="text-dark font-medium fs-4">Remover</th>

                        <!-- <th class="text-dark font-medium fs-4">Budget</th> -->
                    </tr>
                </thead>

                <tbody>
                   <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src='../../../assets/images/users/user1.jpg' alt="user" width="45" class="rounded-circle">
                                <div class="ms-3">
                                    <h5 class="mb-0 font-medium">GOL G5</h5>
                                    <span class="text-muted">Renavam: 0043457537</span>
                                </div>
                            </div>
                        </td>
                        <td class="fs-4">JIR0788</td>

                        <td>
                            <span class="mb-0 font-medium">VERMELHO</span>
                        </td>
                        
                        <td>
                            <span class="mb-0 font-medium">SIM</span>
                        </td>
                        
                        <td>
                            <h5 class="mb-0 fw-normal">10/02/2011</h5>
                        </td>

                        <td>
                            <h5 class="mb-0 fw-normal">2011/2012</h5>
                        </td>
                        <td>
                           <a href=""> <i class="bi bi-trash3"></i></a>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
    </div>
    
</div>